/* html, body{
  min-height: 100% !important;
  height:100%;
  width:100%;
} */

body {
  font-family:'Arial';
  background-color: #2f522f !important;
}

.title {
  margin: 40px;
  text-align: center;
}

.date {
  float: left;
  text-align: center;
  margin: 5px 10px;
  padding-top: 13PX;
}

.addToDo {
  padding: 5px 25px !important;
  margin: 5px 10px;
  float: right;
}

.checkbox {
  text-align: center;
  float: right;
  padding-left: 10px;
}

.toDoCard {
  padding-bottom: 5px !important;
}

.progressBar {
  width: 100%;
  margin-bottom: 15px;
}

.app {
  min-height: 100%;
  height: 100%;
}

.appContainer {
  width: 100%;
  height: 85vh;
  margin: 50px 10px;
}

/* .taskTitle {
  width: 100%;
}

.tasksContent {
  width: 100%;
} */

.tasks {
  min-height: 100%;
  height: 100%;
}

.listContainer {
  width: 25% !important;
  height: 85vh;
  float: left;
  background-color: #244179;
}

.taskContainer {
  width: 75% !important;
  height: 85vh;
  float: right;
  background-color: #7a382d;
}

.selectedTask {
  padding: 5px;
  color: green;
}

ul {
  list-style: none
}

.editModule {
  z-index: 999;
}

.dim {
  background:#000;
  opacity:0.5;
  /* position:fixed; */
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:99;
  pointer-events: none;
}

#progressBar {
  width: 100%;
  background-color: grey;
}

#bar {
  height: 10px;
  background-color: green;
}
